* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

body {
  font: 13px Ubuntu, Arial, Helvetica, sans-serif !important;
  width: 100%;
  padding: 0;
}

.expand {
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: #eaeaea;
}

.header {
  margin: 0 auto;
  max-width: 1140px;

  & > div {
    margin-bottom: 10px;
  }

  &-top {

    width: 100%;
  }

  &-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 500px) {
      flex-direction: column;
    }

    &__item {
      padding: 30px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &-right {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &-bottom {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    @media (max-width: 750px) {
      display: none;
    }

  }
}

.header-logo, .header-phone-number, .header-contact-us, .header-goods, .header-button, .special-goods, .menu_list:hover, .menu-item-list > ul:hover, .menu-item-list > ul > li:hover {
  cursor: pointer;
}

.header-logo {
  @media (max-width: 1200px) {
    margin-left: 20px;
  }
}

.header-phone-number {
  font-size: 20px;
  margin-left: 40px;
  @media (max-width: 800px) and (min-width: 500px) {
    display: none;
  }

  &__icon {
    color: #4d4d4d;
  }
}

.header-contact-us {
  @media (max-width: 1200px) {
    display: none;
  }
}

.header-goods {
  margin-left: 40px;
  display: flex;
  align-items: center;

  &__item {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    font-size: small;
  }

  &__item > p {
    margin: 0;
    padding: 0;
    color: rgba(101, 130, 197, 0.62);
  }
}

.busket {
  @media (max-width: 1200px) {
    margin-right: 20px;
  }

  & > p > a:hover {
    color: rgba(101, 130, 197, 0.62);
  }
}

.menu_list_icon, .phone_number_icon, .menu_icon {
  margin-right: 10px;
}

.menu_icon {
  color: orange;
}


.menu-item {
  margin-right: 10px;

  &-list {
    display: flex;

    &__icon {
      margin-right: 10px;
      color: green;
    }
  }

}

.menu_list {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;

  &:hover {
    color: #088c52;
    cursor: pointer;
  }
}

.menu_list:hover, .menu-item-list > ul:hover, .menu-item-list > ul > li:hover {
  color: #088c52;
}

.content {

  display: flex;
  @media (max-width: 980px) {
    flex-direction: column;
  }
}

.slider {
  width: 70%;
  height: 70vh;
  display: flex;
  @media (max-width: 980px) {
    width: 100%;
  }

  & > div > ul > li {
    width: 100%;
  }

  &-text-block {
    width: 50%;
    margin-left: 80px;
    padding: 70px 0 65px 0;

    &__item {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 1.428571429;
      color: #9f9f9f;
      min-height: 200px;
      display: flex;
      flex-direction: column;
      @media (max-width: 980px) {
        height: 30vh;
        width: 100%;
      }
    }
  }

  &-img {
    background-size: contain;
    align-self: flex-end;
  }

  &-button {
    font-size: 10px;
    margin: 5px;
    padding: 5px 15px;
    border-radius: 3px;
    background-color: #088c52;
    border-color: #0aa360;
    color: #ffffff;

    &_m {
      background-color: white;
      color: #8d8d8d;

      &:hover {
        background-color: #088c52;
        border-color: #0aa360;
        color: #ffffff;
      }
    }
  }
}

.slide {
  display: flex;
  height: 70vh;
  background: no-repeat contain;

  &_1 {
    background: url("../../tests/assets/images/boy_fon.jpg");
  }

  &_2 {
    background: url("../../tests/assets/images/bird_fon.jpg");
  }

  &_3 {
    background: url("../../tests/assets/images/woman_fon.jpg");
  }
}

.stock {
  display: inline-block;
}


.hit, .sale {
  padding: 5px;
  border-radius: 2px;
}

.hit {
  color: white;
  background-color: #0f7ae5;
  margin-right: 5px;
}

.sale {
  color: black;
  background-color: #eaa700;
}


.special-goods {
  width: 30%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  background-color: #dfdfdf;
  overflow: hidden;
  @media (max-width: 980px) {
    height: 50vh;
    width: 100%;
    flex-direction: row;
  }


  &__item {
    height: 50%;
    background-position: center;
    background-size: cover;
    transition: all 2s;
    flex: 1 1 auto;

    &:hover {
      transform: scale(1.2, 1.2);
    }

  }

  &-promo {
    color: #fff;
    font-size: medium;
    margin: 70px 10px 40px 40px;


    & > a, .slider_text > a {
      color: #ccc;
      font-size: 10px;
      text-transform: uppercase;
    }
  }
}

.bike {
  background: url("../../tests/assets/images/bike.jpg") no-repeat;
}

.watches {
  background: url("../../tests/assets/images/watches.jpg") no-repeat;
}


